<div style="width: 50%;margin-left:5%">
  <h3>Display student</h3>

  <div class="row">
    <div class="col-md-12">
        <a class="btn btn-primary" routerLink="/add-student">Add more</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
               <th>Name</th>
               <th>Age</th>
               <th>Action</th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let student of students;index as i">
                   <td>{{student.name}}</td>
                   <td>{{student.age}}</td>
                   <td>
                    <a class="btn btn-success" (click)="onEdit(student.id)">Edit</a> |
                    <a class="btn btn-danger" (click)="onDelete(student.id,i)">Delte</a>
                   </td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>

</div>